<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Mendeley Python Example</title>
</head>
<body>
<a href="/logout">Logout</a>
<h1>{{name}}'s documents</h1>

<table>
    {% for i in range(count) %}
    <tr>
      <td>[{{i+1}}]</td>
      <td> {{auths[i]}}.
          ({{docs[i].year}})
           <b> <a href="{{links[i]}}"> {{docs[i].title}}. </a> </b>
           <i>{{sours[i]}}</i>
      </td>
    </tr>
    {% endfor %}
</table>

<hr>

<form action="/metadataLookup" method="GET">
    DOI lookup:
    <input type="text" name="doi">
    <input type="submit">
</form>

</body>
</html>
